@use '../../Partials/Variables.scss' as *;
@use '../../Partials/mixins.scss' as *;
// @use '../../Partials/font-faces.scss' as *;

.Highlights__right{
@include desktop {
    width:68%;
    // margin-top:4rem;
}
}

.Highlights__title{
    font-size: 2.4rem;
    line-height: 3.2rem;
    // lets c------------
    // margin-top:3.2rem;
    @include tablet{
        font-size:3.6rem;
        line-height:4.4rem;
    }
    
}

.Highlights__video-info{

  @include tablet {
    display: flex;
    border-bottom:1px solid $silver;
    // border: 1px solid purple;
  }
}

.Highlights__author{
margin-top:1.6rem;
margin-bottom: 3.2rem;
font-size: 1.4rem;
line-height:2.2rem ;
@include tablet{
    margin:2.4rem 0;
}

@include tablet {
    // border:1px solid pink;
    flex:1;
    font-size: 1.6rem;
    line-height:2.4rem ;
}
}

.Highlights__views-likes-box{
   display: flex; 
   border-bottom:1px solid $mercury;
   padding-bottom:2.4rem;
   @include tablet{
    //    border:1px solid green;
   }
   @include desktop{
       margin-right:3.2rem;
   }
}

.Highlights__author-name{
margin-right:1rem;
font-weight: 700;

}

.Highlights__author-date{
color:$silver;
}



.Highlights__popularity{
margin-right:2.4rem;
display: flex;
@include tablet {
    // border:1px solid grey;
   align-items: center;
   margin-right: 0;
}
// border:1px solid black;
}


.Highlights__popularity--margin{

    @include tablet{
        margin-right:2.4rem;
    }
}

.Highlights__icon{
margin-right:0.8rem;
@include tablet{
    height:1.8rem;
}
   
}

.Highlights__number{
font-size:1.4rem;
line-height: 2.2rem;
font-weight: 600;

    @include tablet {
        flex:1;
        font-weight:400;
    }
}


.Highlights__para{
margin-top:2.4rem;
margin-bottom:4rem;
font-size:1.6rem;
line-height: 2.4rem;
@include desktop{
    width:82%;
}
}

.Highlights__comment-count{
margin-bottom:3.2rem;
font-size: 2.2rem;
line-height:3.2rem ;
font-weight: 600;
letter-spacing: 0.1rem;


@include tablet{
//  font-size: 2.4rem;
//  line-height: 3.2rem;
//  font-weight: 600;
}
}

.Highlights__comment-section{

}


//MOVED FORM CSS TO form.scss file


