$tablet-breakpoint: 768px;
$desktop-breakpoint : 1280px;

$min-breakpoint:550px;
$max-breakpoint:767px;

$min-break:1050px;
$max-break:1279px;

$beyond-desktop:1450px;



// color variables

$black : #323232;
$white :#FFFFFF;
$alabaster: #FAFAFA;

$mercury: #E1E1E1;
$silver:#AFAFAF;
$instock-blue:#004892;
$instock-blue-dark:#002F5F;
$blue-secondary:#0095FF;
$blue-primary:#0065AD;