@use '../../Partials/mixins.scss' as *;
@use '../../Partials/Variables.scss' as *;
// @use '../../Partials/font-faces.scss' as *;

.Aside-section{
  width:100%;
  @include desktop{
    width:30%;
    padding-top: 4rem;
  }
  &__heading{
    margin:4rem 0;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color:$silver;
    font-weight: 600;
    @include desktop{
      margin-top:0;
    }
  }
  
}


