@use '../../Partials/Variables.scss' as *;
@use '../../Partials/mixins.scss' as *;
// @use '../../Partials/font-faces.scss' as *;

.Hero{
    background-color:black;
    text-align: center;
    &__video-img{
        @include width-height-objectfit(100%, 18.3rem);
        @include tablet {
            @include width-height-objectfit(70rem, 40rem);
        }
        @include desktop{
            width:94.4rem;
            height:54rem;
        }
    }
}

