@use '../../Partials/Variables.scss' as *;
@use '../../Partials/mixins.scss' as *;
@use '../../Partials/font-faces.scss' as *;


.Video{
    display: flex;
    margin-bottom: 2.4rem; 
    &__img{
        width:12rem;
        min-width: 12rem;
        height:7rem;
        object-fit: cover;
        margin-right: 1.6rem;
      
        border-radius: 0.5rem;
        &:hover{
            cursor:pointer;
        }    
        @include desktop{
            height:7.9rem;
        }
    }
    &__info{
        font-size: 1.3rem;
        line-height: 1.8rem;
        @include tablet{
            font-size:1.4rem;
            line-height: 2.2rem;
        }
    }
    &__para{
     font-weight: 700;
     margin-bottom:1rem;
        @include tablet {
            width:60%;
            font-weight: 600;
        }
        @include desktop{
            width:92%
        }   
    }
   
}