@use '../../Partials/mixins.scss' as *;
@use '../../Partials/Variables.scss' as *;
// @use '../../Partials/font-faces.scss' as *;

.Highlights{
    padding:0 1.6rem;
    margin-top: 2.4rem;
    @include tablet {
        padding:0 2.4rem;
        margin-top:4.8rem;
    }   
    @include desktop {
        padding:0 10rem;
        margin-top:0rem;
    }
    &__main{
        display:flex;
        flex-wrap: wrap;
        @include desktop{
            justify-content: space-between;
        }
    }
}

.main-loading{
    font-size: 3.6rem;
    line-height:3.2rem;
    font-weight: 700;
    text-align: center;
    margin-top:10rem;
    
}



